.flex-grid {
    display: flex;
    gap: 25px;
}
.col {
    flex: 1;
}

.col.bulk {
    flex: 3;
}

.lined p {
    border-bottom: 1px solid var(--fg);
    padding-bottom: 1.6rem;
}

.lined p:last-of-type {
    border-bottom: none;
    padding-bottom: revert;
}

header {
    margin: 0;

    img {
        height: 200px;
    }
}

a.button {
    /*
     * Magick CSS
     * by: winterveil (https://github.com/wintermute-cell/)
     * license: MIT
     * version: 1.0.5
     */
    background-color: #dadada; /* 1 */
    font-weight: bold;
    color: var(--fg); /* 1 */
    padding: 10px; /* 2 */
    margin-top: 1.6rem; /* 3 */
    border: 1px solid var(--fg); /* 4 */
    cursor: pointer; /* 5 */
}

section.buttons {
    text-align: center;
}

section.buttons .button {
    display: block;
}

.button.back {
    background-color: transparent;
    font-weight: normal;
}
