.flex-grid {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}
.col {
    flex: 1;
}

.bulk {
    flex: 3;
}

header {
    margin: 0;

    img {
        height: 200px;
    }
}

hr {
    border: 2px solid var(--fg);
}

a.button {
    /*
     * Magick CSS
     * by: winterveil (https://github.com/wintermute-cell/)
     * license: MIT
     * version: 1.0.5
     */
    background-color: transparent; /* 1 */
    color: var(--fg); /* 1 */
    padding: 10px; /* 2 */
    margin-top: 1.6rem; /* 3 */
    border: 1px solid var(--fg); /* 4 */
    cursor: pointer; /* 5 */
}