<!doctype html>
<html class="no-js" lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Gamer Mel</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/magick.css">
    <link rel="stylesheet" href="/css/global.css">
    <meta name="theme-color" content="#d12b9a">
    {% block head %}{% endblock %}
</head>

<body>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>