{% extends "base.html.twig" %}

{% block title %}{{ generator.name }} | Generators{% endblock %}

{% block content %}
    <header>
        <h1>{{ generator.name }}</h1>
    </header>
    <section>
        {% for category in categories %}
            <a href="{{ url_for('category', { 'generator': generator.slug, 'category': category.slug }) }}" class="button">{{ category.name }}</a>
        {% else %}
            <em>No categories found</em>
        {% endfor %}
    </section>
{% endblock %}