{% extends "base.html.twig" %}

{% block title %}Generators{% endblock %}

{% block content %}
    <header>
        <figure><img src="/images/fad3.png"></figure>
        <h1>Generators</h1>
    </header>
    <section class="buttons">
        {% for generator in generators %}
            <a href="{{ url_for('category', { 'generator': generator.slug }) }}" class="button">{{ generator.name }}</a>
        {% else %}
            <em>No generators found</em>
        {% endfor %}
    </section>
{% endblock %}